trigger:
  - main

pool:
  vmImage: ubuntu-latest

variables:
  SERVER_IP: '78.13.85.34'
  SERVER_USER: 'ubuntu'

stages:
  - stage: Deploy
    displayName: 'Deploy a Produccion'
    jobs:
      - job: DeployToServer
        displayName: 'Desplegar en servidor'
        steps:
          # Instalar llave SSH desde variable secreta
          - task: InstallSSHKey@0
            displayName: 'Instalar llave SSH'
            inputs:
              knownHostsEntry: $(KNOWN_HOSTS)
              sshKeySecureFile: 'server-ssh-key'

          # Ejecutar deploy en servidor remoto
          - script: |
              ssh -o StrictHostKeyChecking=no $(SERVER_USER)@$(SERVER_IP) "cd ~/hacienda && ./deploy.sh"
            displayName: 'Ejecutar deploy.sh en servidor'
