trigger:
  - main

pool:
  vmImage: ubuntu-latest

stages:
  - stage: Deploy
    displayName: 'Deploy a Produccion'
    jobs:
      - job: DeployToServer
        displayName: 'Desplegar en servidor'
        steps:
          - task: SSH@0
            displayName: 'Ejecutar deploy en servidor'
            inputs:
              sshEndpoint: 'lahacienda Online'
              runOptions: 'commands'
              commands: 'cd ~/hacienda && ./deploy.sh'
              readyTimeout: '20000'
